<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--<![endif]-->
<!-- Begin Head -->

<head>
	<title>@ViewData["Title"]</title>

		    <partial name="_MetaTags" />
		    <partial name="_HeaderReferences" />
			                @await RenderSectionAsync("Styles", false)

</head>

<body class="rtl">

	<div class="preloader_wrapper">
		<div class="preloader_inner">
			<img src="/Cultivation/images/preloader.gif" alt="image" />
		</div>
	</div>

	<div class="clv_main_wrapper index_v5">
		<div class="clv_header">
			<span class="header_shape">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920px"
					height="135px">
					<path fill-rule="evenodd" fill="rgb(255, 255, 255)"
						d="M0.000,100.999 C0.000,100.999 217.931,100.999 284.971,100.999 C352.010,100.999 392.861,134.998 445.971,134.998 C499.080,134.998 544.349,100.999 609.971,100.999 C666.112,100.999 1920.000,100.999 1920.000,100.999 L1920.000,-0.000 L0.000,-0.000 L0.000,100.999 Z" />
				</svg>
			</span>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="clv_left_header">
							<div class="clv_logo">
								<a href="index.html"><img src="/Cultivation/images/logo5.png" alt="Cultivation" /></a>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<div class="clv_right_header">
							<div class="clv_menu">
								<div class="clv_menu_nav">
									<ul>
										<li>
											<a href="javascript:;">صفحه اصلی</a>
											<ul>
												<li><a href="index.html">صفحه اصلی 1</a></li>
												<li><a href="index2.html">صفحه اصلی 2</a></li>
												<li><a href="index3.html">صفحه اصلی 3</a></li>
												<li><a href="index4.html">صفحه اصلی 4</a></li>
												<li><a href="index5.html">صفحه اصلی 5</a></li>
												<li><a href="index6.html">صفحه اصلی 6</a></li>
											</ul>
										</li>
										<li><a href="about.html">درباره ما</a></li>
									
										<li>
											<a href="javascript:;">صفحات</a>
											<ul>
												<li><a href="profile.html">پروفایل</a></li>
												<li><a href="products.html">محصولات</a></li>
												<li><a href="product_single.html">صفحه محصول</a></li>
												<li><a href="checkout.html">پرداخت</a></li>
												<li><a href="cart_single.html">سبد خرید من</a></li>
												<li><a href="404.html">404</a></li>
											</ul>
										</li>

										@if (User.Identity.IsAuthenticated)
										{
													<li>
														<a 
																						asp-action="logout"
																					asp-area="" 
																					asp-controller="Account">
																					خروج
																				</a>
																				</li>
																					<li>
														 خوش آمدید ! @User.Identity.Name 
																				</li>

										}
										else
										{
																					<li><a 
																						asp-action="Register"
																					asp-area="" 
																					asp-controller="Account">ثبت نام</a></li>
										}
									</ul>
								</div>
								<div class="cart_nav">
									<ul>
										<li>
											<a class="search_toggle" href="javascript:;"><i class="fa fa-search"
													aria-hidden="true"></i></a>
										</li>
										<li>
											<a class="cart_toggle" href="javascript:;">
												<svg xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
													height="20px">
													<path fill-rule="evenodd" fill="rgb(0, 0, 0)"
														d="M16.712,5.566 C16.682,5.244 16.404,4.997 16.071,4.997 L12.857,4.997 L12.857,3.747 C12.857,1.678 11.127,-0.004 9.000,-0.004 C6.873,-0.004 5.143,1.678 5.143,3.747 L5.143,4.997 L1.928,4.997 C1.595,4.997 1.318,5.244 1.288,5.566 L0.002,19.315 C-0.014,19.490 0.046,19.664 0.168,19.793 C0.290,19.923 0.462,19.997 0.643,19.997 L17.357,19.997 C17.538,19.997 17.710,19.923 17.832,19.793 C17.952,19.664 18.014,19.490 17.997,19.315 L16.712,5.566 ZM6.428,3.747 C6.428,2.367 7.582,1.247 9.000,1.247 C10.417,1.247 11.571,2.367 11.571,3.747 L11.571,4.997 L6.428,4.997 L6.428,3.747 ZM1.347,18.745 L2.515,6.247 L5.143,6.247 L5.143,7.670 C4.759,7.887 4.500,8.286 4.500,8.746 C4.500,9.436 5.076,9.996 5.786,9.996 C6.495,9.996 7.071,9.436 7.071,8.746 C7.071,8.286 6.812,7.887 6.428,7.670 L6.428,6.247 L11.571,6.247 L11.571,7.670 C11.188,7.887 10.928,8.284 10.928,8.746 C10.928,9.436 11.505,9.996 12.214,9.996 C12.924,9.996 13.500,9.436 13.500,8.746 C13.500,8.286 13.240,7.887 12.857,7.670 L12.857,6.247 L15.484,6.247 L16.653,18.745 L1.347,18.745 Z" />
												</svg>
												<span>12</span>
											</a>
											<div class="clv_cart_box">
												<div class="cart_section">
													<p>شما <span>3</span> مورد در سبد خرید خود دارید</p>
													<ul>
														<li>
															<div class="cart_block">
																<img src="/Cultivation/images/cart1.jpg"
																	alt="image" />
															</div>
															<div class="cart_block">
																<h5>گوشت تازه</h5>
																<div class="item_quantity">
																	<a href="javascript:;" class="quantity_minus">-</a>
																	<input type="text" value="1" class="quantity"
																		disabled />
																	<a href="javascript:;" class="quantity_plus">+</a>
																</div>
															</div>
															<div class="cart_block">
																<h4><span><i class="fa fa-usd"
																			aria-hidden="true"></i></span> 43</h4>
															</div>
														</li>
														<li>
															<div class="cart_block">
																<img src="/Cultivation/images/cart2.jpg"
																	alt="image" />
															</div>
															<div class="cart_block">
																<h5>شیر لبنی</h5>
																<div class="item_quantity">
																	<a href="javascript:;" class="quantity_minus">-</a>
																	<input type="text" value="1" class="quantity"
																		disabled />
																	<a href="javascript:;" class="quantity_plus">+</a>
																</div>
															</div>
															<div class="cart_block">
																<h4><span><i class="fa fa-usd"
																			aria-hidden="true"></i></span> 14</h4>
															</div>
														</li>
														<li>
															<h3>مجموع</h3>
															<h4><span><i class="fa fa-usd"
																		aria-hidden="true"></i></span> 54</h4>
														</li>
													</ul>
												</div>
												<a href="javascript:;" class="cart_action_btn">پرداخت</a>
											</div>
										</li>
										<li class="menu_toggle">
											<span>
												<?xml version="1.0" encoding="iso-8859-1"?>
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													viewBox="0 0 53 53" style="enable-background:new 0 0 53 53;"
													xml:space="preserve" width="20px" height="20px">
													<g>
														<g>
															<path
																d="M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z" />
															<path
																d="M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z" />
															<path
																d="M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z" />
														</g>
													</g>
												</svg>
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		 @RenderBody()

			    <partial name="_Footer" />

	</div>

	    <partial name="_FooterReferences" />

</body>

</html>