@model ArkaDoor.Domain.DTOs.SiteSide.Account.UserRegisterDTO

@{
    ViewData["Title"] = "ثبت نام";
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div asp-validation-summary="All" class="alert alert-danger margin-left-20 margin-right-20 margin-top-10"></div>
}
<div class="signup_wrapper open_signup">
    <div class="signup_inner" style="height: 100%;width: 100%;">
        <div class="signup_details">
            <div class="site_logo">
                <a href="index.html"> <img src="/Cultivation/images/logo_white.png" alt="image"></a>
            </div>
            <h3>به cultivation خوش آمدید!</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
            <a asp-action="Login" asp-controller="Account" asp-area="" class="clv_btn white_btn pop_signin">ورود</a>
            <ul>
                <li>
                    <a href="javascript:;"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                </li>
                <li>
                    <a href="javascript:;"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                </li>
                <li>
                    <a href="javascript:;"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
                </li>
                <li><a href="javascript:;"><span><i class="fa fa-youtube-play" aria-hidden="true"></i></span></a></li>
            </ul>
        </div>

        <div class="signup_form_section">
            <form method="post" asp-antiforgery="true">
                <h4>ساخت حساب</h4>
                <img src="/Cultivation/images/clv_underline.png" alt="image">
                <div class="form_block">
                    <input type="text" asp-for="Mobile" class="form_field" placeholder="موبایل">
                    <span asp-validation-for="Mobile" class="text-danger small"></span>
                </div>
                <div class="form_block">
                    <input type="password" class="form_field" asp-for="Password" placeholder="کلمه ی عبور">
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>
                <div class="form_block">
                    <input type="password" asp-for="RePassword" class="form_field" placeholder="تکرار کلمه ی عبور">
                    <span asp-validation-for="RePassword" class="text-danger small"></span>
                </div>
                <button class="clv_btn">عضویت</button>
            </form>
        </div>
    </div>
</div>


