@model ArkaDoor.Domain.DTOs.Admin.CreateRoleDTO

@{
    ViewData["Title"] = "ایجاد نقش جدید";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
    <script src="/admin/js/access.js"></script>
}

@section Breadcrumbs
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="CreateRole" asp-controller="Role" asp-area="Admin">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="Title">عنوان</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="RoleUniqueName">عنوان یکتای نقش</label>
                                <input type="text" class="form-control" asp-for="RoleUniqueName">
                                <span class="text-danger" asp-validation-for="RoleUniqueName"></span>
                            </div>
                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
