<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">

        <li>
            <a href="/">
                <i class="menu-icon fa fa-globe"></i>
                <span class="menu-text"> مشاهده سایت </span>
            </a>
        </li>

        <!--Dashboard-->
        <li>
            <a asp-action="Index" asp-controller="Home" asp-area="Admin">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>

        <!--Role-->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user-secret"></i>
                <span class="menu-text"> مدیریت نقش ها </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterRoles" asp-controller="Role" asp-area="Admin">
                        <span class="menu-text"> لیست نقش ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateRole" asp-controller="Role" asp-area="Admin">
                        <span class="menu-text"> ایجاد نقش جدید </span>
                    </a>
                </li>
            </ul>
        </li>

        <!--User-->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> مدیریت کاربران</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="Index" asp-controller="User" asp-area="Admin">
                        <span class="menu-text"> لیست کاربران </span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>
